In [21]:
%load_ext autoreload
%autoreload 2

import warnings
warnings.simplefilter('ignore')

import pandas as pd
import numpy as np
import sys
import seaborn as sns
sys.path.append('../src/')
sys.path.append('../src/exp_017')
from preprocess import read_data, get_data

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [24]:
X_train, y, group, X_test, submit = get_data()

==================== start run blocks ====================
	- <preprocess.KnnLocationDateBlock object at 0x7fc63a3ac150> 1.635[s]
	- <preprocess.KnnLocationDateBlock object at 0x7fc63a3acdd0> 1.778[s]
	- <preprocess.KnnLocationDateBlock object at 0x7fc63f9d1650> 1.492[s]
	- <preprocess.KnnLocationDateBlock object at 0x7fc63f9d1a90> 1.773[s]
	- <preprocess.YLagLeadBlock object at 0x7fc63f3be850> 0.426[s]
	- <preprocess.YLagLeadBlock object at 0x7fc63a3aced0> 0.410[s]
	- <preprocess.YLagLeadBlock object at 0x7fc63f9d1750> 0.604[s]
	- <preprocess.YLagLeadBlock object at 0x7fc63f9d1d50> 0.395[s]
	- <preprocess.YLagLeadBlock object at 0x7fc63f9d1350> 0.390[s]
	- <preprocess.YLagLeadBlock object at 0x7fc639057190> 0.404[s]
	- <preprocess.YLagLeadBlock object at 0x7fc63e2fced0> 0.572[s]
	- <preprocess.YLagLeadBlock object at 0x7fc63e2fc090> 0.399[s]
	- <preprocess.YLagLeadBlock object at 0x7fc63e2fc4d0> 0.422[s]
	- <preprocess.YLagLeadBlock object at 0x7fc641f35290> 0.428[s]
	- <preprocess.TargetEncodingBlock object at 0x7fc638e43790> 2.113[s]
	- <preprocess.TargetEncodingBlock object at 0x7fc638e43b50> 2.266[s]
	- <preprocess.CountEncodingBlock object at 0x7fc63e2e4c10> 0.439[s]
run test = False 16.007[s]
==================== start run blocks ====================
	- <preprocess.KnnLocationDateBlock object at 0x7fc63a3ac150> 0.232[s]
	- <preprocess.KnnLocationDateBlock object at 0x7fc63a3acdd0> 0.367[s]
	- <preprocess.KnnLocationDateBlock object at 0x7fc63f9d1650> 0.192[s]
	- <preprocess.KnnLocationDateBlock object at 0x7fc63f9d1a90> 0.265[s]
	- <preprocess.YLagLeadBlock object at 0x7fc63f3be850> 0.011[s]
	- <preprocess.YLagLeadBlock object at 0x7fc63a3aced0> 0.010[s]
	- <preprocess.YLagLeadBlock object at 0x7fc63f9d1750> 0.010[s]
	- <preprocess.YLagLeadBlock object at 0x7fc63f9d1d50> 0.010[s]
	- <preprocess.YLagLeadBlock object at 0x7fc63f9d1350> 0.010[s]
	- <preprocess.YLagLeadBlock object at 0x7fc639057190> 0.010[s]
	- <preprocess.YLagLeadBlock object at 0x7fc63e2fced0> 0.010[s]
	- <preprocess.YLagLeadBlock object at 0x7fc63e2fc090> 0.010[s]
	- <preprocess.YLagLeadBlock object at 0x7fc63e2fc4d0> 0.010[s]
	- <preprocess.YLagLeadBlock object at 0x7fc641f35290> 0.010[s]
	- <preprocess.TargetEncodingBlock object at 0x7fc638e43790> 0.087[s]
	- <preprocess.TargetEncodingBlock object at 0x7fc638e43b50> 0.090[s]
	- <preprocess.CountEncodingBlock object at 0x7fc63e2e4c10> 0.038[s]
run test = True 1.394[s]
==================== start run blocks ====================
run test = False 0.000[s]
==================== start run blocks ====================
run test = True 0.000[s]

In [ ]:
X_train.head()

,lat,lon,co_cnt,co_min,co_mid,co_max,co_var,o3_cnt,o3_min,o3_mid,...,TE_mean_is_holiday@TargetEncodingBlock,TE_std_month@TargetEncodingBlock,TE_std_Country@TargetEncodingBlock,TE_std_dayofweek@TargetEncodingBlock,TE_std_is_holiday@TargetEncodingBlock,CE_year@CountEncodingBlock,CE_month@CountEncodingBlock,CE_day@CountEncodingBlock,CE_Country@CountEncodingBlock,CE_dayofweek@CountEncodingBlock
0,-27.46794,153.02809,38,0.749,2.590,2.633,0.850,29,2.397,4.295,...,59.330321,51.959459,27.064764,38.926034,38.848467,2019,1,1,3635,27700
1,-37.81400,144.96332,17,1.190,1.197,2.200,0.248,123,0.736,12.527,...,59.480130,50.907354,27.282343,38.548017,38.547449,2019,1,1,3635,27700
2,-32.92953,151.78010,63,4.586,11.044,14.802,24.186,90,1.917,14.141,...,59.279363,51.638930,22.661095,38.727758,38.696656,2019,1,1,3635,27700
3,-34.42400,150.89345,179,4.554,7.159,15.819,30.752,39,0.514,11.869,...,59.279363,51.638930,22.661095,38.727758,38.696656,2019,1,1,3635,27700
4,51.22047,4.40026,93,4.011,4.555,12.859,18.655,78,0.504,0.612,...,59.480130,50.907354,25.042350,38.548017,38.547449,2019,1,1,2773,27700

In [25]:
X_test.head()

,lat,lon,co_cnt,co_min,co_mid,co_max,co_var,o3_cnt,o3_min,o3_mid,...,TE_mean_is_holiday@TargetEncodingBlock,TE_std_month@TargetEncodingBlock,TE_std_Country@TargetEncodingBlock,TE_std_dayofweek@TargetEncodingBlock,TE_std_is_holiday@TargetEncodingBlock,CE_year@CountEncodingBlock,CE_month@CountEncodingBlock,CE_day@CountEncodingBlock,CE_Country@CountEncodingBlock,CE_dayofweek@CountEncodingBlock
0,-34.92866,138.59863,155,0.091,0.101,0.195,0.003,167,0.000,0.000,...,59.317855,51.047386,26.154540,38.43971,38.374781,2019,1,1,3635,27700
1,-33.86785,151.20732,23,1.037,2.272,3.391,1.347,142,7.797,34.414,...,59.317855,51.047386,26.154540,38.43971,38.374781,2019,1,1,3635,27700
2,50.85045,4.34878,28,0.096,0.101,0.104,0.000,114,7.064,16.576,...,59.317855,51.047386,28.259110,38.43971,38.374781,2019,1,1,2773,27700
3,43.84864,18.35644,122,0.479,4.589,16.560,60.820,118,0.513,22.445,...,59.317855,51.047386,42.442122,38.43971,38.374781,2019,1,1,921,27700
4,-23.17944,-45.88694,158,6.198,13.478,20.327,36.498,129,1.063,1.845,...,59.317855,51.047386,28.792079,38.43971,38.374781,2019,1,1,2013,27700

In [ ]:
X_train.isnull().sum()[X_train.isnull().sum() != 0]

lag-10Country_date_mean_pm25@YLagLeadBlock    3073
lag-7Country_date_mean_pm25@YLagLeadBlock     2619
lag-3Country_date_mean_pm25@YLagLeadBlock     1905
lag-2Country_date_mean_pm25@YLagLeadBlock     1627
lag-1Country_date_mean_pm25@YLagLeadBlock     1459
lag1Country_date_mean_pm25@YLagLeadBlock      1593
lag2Country_date_mean_pm25@YLagLeadBlock      1841
lag3Country_date_mean_pm25@YLagLeadBlock      2085
lag7Country_date_mean_pm25@YLagLeadBlock      3127
lag10Country_date_mean_pm25@YLagLeadBlock     3664
TE_mean_Country@TargetEncodingBlock           2887
TE_std_Country@TargetEncodingBlock            2887
dtype: int64

In [ ]:
X_train.dtypes.unique()

array([dtype('float64'), dtype('int64'),
       CategoricalDtype(categories=[0, 1, 2, 3, 4, 5, 6], ordered=False),
       dtype('int16'),
       CategoricalDtype(categories=['Australia', 'Belgium', 'Bosnia and Herzegovina', 'Brazil',
                         'Canada', 'Chile', 'China', 'Croatia', 'France', 'Germany',
                         'Hungary', 'India', 'Iran', 'Israel', 'Italy', 'Japan',
                         'Mexico', 'Netherlands', 'Poland', 'Russia', 'Serbia',
                         'South Africa', 'South Korea', 'Spain', 'Taiwan', 'Thailand',
                         'Turkey', 'United Kingdom', 'United States', 'Vietnam'],
       , ordered=False)                                                                        ,
       CategoricalDtype(categories=[0, 1, 2, 3, 4, 5, 6, 7, 8, 9], ordered=False)],
      dtype=object)

In [ ]:
X_train.select_dtypes(include=[int, float]).columns

Index(['lat', 'lon', 'co_cnt', 'co_min', 'co_mid', 'co_max', 'co_var',
       'o3_cnt', 'o3_min', 'o3_mid', 'o3_max', 'o3_var', 'so2_cnt', 'so2_min',
       'so2_mid', 'so2_max', 'so2_var', 'no2_cnt', 'no2_min', 'no2_mid',
       'no2_max', 'no2_var', 'temperature_cnt', 'temperature_min',
       'temperature_mid', 'temperature_max', 'temperature_var', 'humidity_cnt',
       'humidity_min', 'humidity_mid', 'humidity_max', 'humidity_var',
       'pressure_cnt', 'pressure_min', 'pressure_mid', 'pressure_max',
       'pressure_var', 'ws_cnt', 'ws_min', 'ws_mid', 'ws_max', 'ws_var',
       'dew_cnt', 'dew_min', 'dew_mid', 'dew_max', 'dew_var', 'fold', 'year',
       'month', 'day', 'is_holiday', 'co_range', 'o3_range', 'so2_range',
       'no2_range', 'temperature_range', 'humidity_range', 'pressure_range',
       'ws_range', 'dew_range', 'kmeans_dist_0', 'kmeans_dist_1',
       'kmeans_dist_2', 'kmeans_dist_3', 'kmeans_dist_4', 'kmeans_dist_5',
       'kmeans_dist_6', 'kmeans_dist_7', 'kmeans_dist_8', 'kmeans_dist_9',
       'knn_location_mean_5_10@KnnLocationDateBlock',
       'knn_location_mean_10_10@KnnLocationDateBlock',
       'knn_location_std_5_10@KnnLocationDateBlock',
       'knn_location_std_10_10@KnnLocationDateBlock',
       'lag-10Country_date_mean_pm25@YLagLeadBlock',
       'lag-7Country_date_mean_pm25@YLagLeadBlock',
       'lag-3Country_date_mean_pm25@YLagLeadBlock',
       'lag-2Country_date_mean_pm25@YLagLeadBlock',
       'lag-1Country_date_mean_pm25@YLagLeadBlock',
       'lag1Country_date_mean_pm25@YLagLeadBlock',
       'lag2Country_date_mean_pm25@YLagLeadBlock',
       'lag3Country_date_mean_pm25@YLagLeadBlock',
       'lag7Country_date_mean_pm25@YLagLeadBlock',
       'lag10Country_date_mean_pm25@YLagLeadBlock',
       'TE_mean_month@TargetEncodingBlock',
       'TE_mean_Country@TargetEncodingBlock',
       'TE_mean_dayofweek@TargetEncodingBlock',
       'TE_mean_is_holiday@TargetEncodingBlock',
       'TE_std_month@TargetEncodingBlock',
       'TE_std_Country@TargetEncodingBlock',
       'TE_std_dayofweek@TargetEncodingBlock',
       'TE_std_is_holiday@TargetEncodingBlock', 'CE_year@CountEncodingBlock',
       'CE_month@CountEncodingBlock', 'CE_day@CountEncodingBlock',
       'CE_Country@CountEncodingBlock', 'CE_dayofweek@CountEncodingBlock'],
      dtype='object')